# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
release/
sign/

# Firebase / Google Services (use template for compilation)
app/google-services.json

# Bundle artifacts
*.jsbundle
